@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.light-blue {
  background-color: rgb(198, 214, 240);
}

.lighter-blue {
  background-color: #e2f6fd;
}

.bold-blue {
  background-color: rgb(124, 162, 208);
}

.light-grey {
  background-color: #f3f3f3;
}

.light-white {
  background-color: #FBFBFD
}

.write-blue {
  color: rgb(100, 128, 169);
}

.write-grey {
  color: rgb(69, 71, 75);
}

.bold-large-text {
  font-size: 25px; 
  font-weight: bold;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.blue-teal-gradient {
  background: linear-gradient(to right, #38b2ac, #3182ce)
}

.white-blue-gradient {
  background: linear-gradient(to right, #76acde, #aedff3)
}

.progress-gradient {
  background: linear-gradient(to right, #c8e0f5, #427fdc)
}

/* CALENDAR COMPONENT CSS PROPERTIES */
.custom-calendar {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.custom-calendar__tile--highlight-submission {
  background-color: rgb(248, 110, 160, 0.6); /* Light Blue */
  color: rgb(255, 255, 255);
  border-radius: 50%;
}

.custom-calendar__tile--highlight-grading {
  background-color: rgba(27, 27, 154, 0.6); /* Dark Blue */
  color: white;
  border-radius: 50%;
}

.custom-calendar__tile--highlight-both {
  background-color: rgba(201, 107, 142, 0.6); /* Light Sky Blue */
  color: white;
  border-radius: 50%;
}

.react-calendar__tile {
  border-radius: 50%;
  transition: all 0.3s ease;
}

.react-calendar__tile:hover {
  background-color: rgba(158, 217, 239, 0.611);
}

.react-calendar__navigation button {
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px;
}

.react-calendar__month-view__weekdays {
  font-weight: 400;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.react-calendar__tile--now {
  background: rgba(158, 217, 239, 0.611);
  color: #686868;
  font-weight: 450;
}

.react-calendar__month-view__weekdays__weekday {
  text-decoration: none;
  border-bottom: none;
  color: #686868; /* Dark grey color for the weekdays */
  font-weight: 600;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  border-bottom: none;
  color: #686868; /* Dark grey color for the weekday abbreviations */
}

.react-calendar__month-view__weekdays__weekday {
  text-decoration: none;
  border-bottom: none;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  border-bottom: none;
}
.react-calendar__navigation {
  background: linear-gradient(to right, #76acde, #aedff3);
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 6px;
}

.react-calendar__month-view__days {
  background: #f3f3f3; /* Light grey background */
  color: #686868;
}

/* REMINDERS COMPONENT CSS PROPERTIES */
.reminders-section {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.white-blue-gradient {
  background: linear-gradient(to right, #76acde, #aedff3);
  color: #fff;
}

.reminders-section h3 {
  font-size: 1em;
}

.reminders-section ul {
  list-style: none;
  padding: 0;
}

.reminders-section li {
  padding: 2px;
  font-size: 0.8em;
}

.reminders-section li:last-child {
  border-bottom: none;
}