@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.light-blue {
  background-color: rgb(198, 214, 240);
}

.lighter-blue {
  background-color: #e2f6fd;
}

.bold-blue {
  background-color: rgb(124, 162, 208);
}

.light-grey {
  background-color: rgb(239, 239, 244);
}

.light-white {
  background-color: #FBFBFD
}

.write-blue {
  color: rgb(100, 128, 169);
}

.write-grey {
  color: rgb(69, 71, 75);
}

.bold-large-text {
  font-size: 25px; 
  font-weight: bold;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.blue-teal-gradient {
  background: linear-gradient(to right, #38b2ac, #3182ce)
}

.white-blue-gradient {
  background: linear-gradient(to right, #aedff3, #76acde)
}
